/* shared styles */
*{
    font-family: 'Work Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.primary-font{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.secondary-font{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
}
.primary-btn{
    border-radius: 48px;
    color: #FFF;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 17px 35px;
    border: 0;
    transition: 0.3s;
    background: #FF42A5;
}
.primary-btn:hover{
    box-shadow: 0px 4px 30px 0px #FF42A5;
    cursor: pointer;
}

/* nav style */
nav{
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 8px 8%;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}
.logo span{
    color: #FF42A5;
}
nav ul li{
    list-style: none;
    display: inline-block;
    align-items: center;
    margin-left: 12px;
    margin-top: 7px;
}
nav ul li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}
nav ul li img{
    height: 16px;
    margin-left: 5px;
}
nav .follow-btn{
    padding:20px 15px;
    border: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.header-content{
    margin: auto 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-text{
    width: 40vw;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.header-text h4{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.header-text h1{
    font-size: 5.8rem;
    margin: 0;
    font-weight: 800;
}
.header-text ul li{
    list-style: none;
    align-items: center;
    margin-left: -17px;
}
.btn-container > button{
    margin-top: 30px;
    margin-left: 5px;
}
.btn-container .blue-btn{
    background:#4EC5F7;
}
.btn-container .blue-btn:hover{
    box-shadow: 0px 4px 30px 0px #4EC5F7;
}
.header-image img{
    width: 40vw;
}

/* main section */
.we-are-gamers{
    max-width: 100%;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.we-are-gamers-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 30px;
    margin-bottom: 100px;
}
.we-are-gamers-text{
    text-align: right;
    width: 30vw;
}
.we-are-gamers-image img{
    width: 50vw;
}
.we-are-gamers .secondary-font{
    margin-bottom: 40px;
}
.funny-videos{
    text-align: center;
}
.black-text{
    -webkit-text-fill-color: #0B0223;
}
.funny-videos-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin: auto 10%;
    grid-gap: 2px;
    margin-top: 40px;
}

.funny-videos-container .card .play-button img {
    width: 50px;
    height: auto;
}
.funny-videos-container .card .play-button p{
    color: #FF42A5;
}
.card{
    position: relative;
}

.card .play-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    display: none;
    transition: 0.3s;
}
.card > img{
    border:4px solid transparent;
    border-radius: 16px;
    transition: 0.2s;
}
.card:hover .play-button{
    display: block;
    cursor: pointer;
}
.card:hover > img{
    filter: brightness(20%);
    border: 4px solid #FF42A5;
    cursor: pointer;
}

.funny-videos-container .card img, .card{
    width: 17vw;
}

.play-instantly{
    margin-top: 50px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.play-instantly-conatiner{
    display: flex;
    justify-content: center;
    gap: 10vw;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 30px;
}
.play-instantly-text{
    text-align: right;
    width: 40vw;
}
.play-instantly-image{
    position: relative;
}
.play-instantly-image .big-image{
    width: 30vw;
}
.play-instantly .small-image{
    width: 13vw;
    z-index: 1;
    position: absolute;
    top: 60%;
    left: -8%;
}

.game-types{
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    margin: 100px 6%;
}
.game-types .game-item p{
    font-size: 1rem;
    color: #0B0223;
    font-weight: 600;
}
.game-item{
    border: 3px solid transparent;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    margin: 15px;
    padding: 7px;
    transition: 0.2s;
    word-wrap: break-word;
}
.game-item:hover{
    border: 3px solid #F948B2;
    cursor: pointer;
}
.game-item:hover p{
    color: #F948B2;
}

/* footer section */
.footer{
    background: #0B0223;
    width: 100%;
}
.footer-container{
    width: 70vw;
    margin: auto;
    padding: 3%;
    text-align: center;
}
.footer-container .logo h3{
    color: white;
    font-size: 2rem;
}
.footer-options{
    display: flex;
    justify-content: center;
    gap: 4%;
}
.footer-options p{
    color: white;
    font-weight: 600;
    margin-bottom: 40px;
}
.social-icons img{
    margin-left: 3%;
}
.lower-text{
    display: flex;
    justify-content: center;
    gap: 2%;
}





/* responsive style for mobile */
@media only screen and (max-width: 576px){
    nav{
    flex-direction: column;
    text-align: center;
    }
    nav ul li{
        display: block;
        margin: 20px auto;
        text-align: center;
    }
    nav .logo{
        text-align: center;
        align-items: center;
    }
    nav .follow-btn{
        text-align: center;
    }
    .header-content{
        flex-direction: column;
    }
    .header-text{
        width: 100vw;
        margin-top: 30px;
        text-align: center;
    }
    .header-text ul li{
        text-align: left;
        margin-left: 7px;
    }
    .header-image img{
        width: 100vw;
        margin-top: 30px;
    }

    /* main section style */

    .we-are-gamers-container{
        flex-direction: column-reverse;
    }
    .we-are-gamers-text{
        width: 85vw;
        text-align: center;
    }
    .we-are-gamers-image img{
        width: 100vw;
    }

    .funny-videos-container{
        grid-template-columns: 1fr;
        align-items: center;
    }
    .funny-videos-container .card img, .card{
        width: 70vw;
        
    }
    .funny-videos > p{
        width: 70vw;
        margin: auto;
    }

    .play-instantly-conatiner{
        flex-direction: column;
    }
    .play-instantly-text{
        width: 90vw;
        text-align: center;
    }
    .play-instantly-image .big-image{
        width: 70vw;
    }
    .play-instantly-image .small-image{
        width: 150px;
        top: 50%;
    }

    .game-types{
        gap: 10px;
        margin: 100px auto;
    }
    .game-item{
        margin: 0px;
        gap: 5px;
        
    }
    .game-types .game-item p{
        font-size: 0.8rem;
        word-wrap: break-word;
        
    }
    .game-item img{
        width: 40px;
        height: 40px;
    }

    .footer-options{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1%;
    }
    .footer-options p{
        font-size: 0.8rem;
    }
}
/* resposive for tablet devices */
@media screen and (min-width: 576px) and (max-width: 990px) {
    nav{
        padding: 8px 15px;
    }
    nav ul li{
        margin-left: 2px;
        
    }
    nav .follow-btn{
        padding: 10px 8px;
    }
    .header-content{
        margin-top: 30px;
    }
    .header-text{
        width: 50vw;
    }
    .header-text h1{
        font-size: 4rem;
    }
    .header-image img{
        width: 30vw;
    }
    .btn-container .primary-btn{
        margin-top: 15px;
    }

    .we-are-gamers-text{
        width: 45vw;
    }
    .we-are-gamers-image img{
        width: 45vw;
    }

    .funny-videos-container{
        grid-template-columns: repeat(2, 1fr);
        margin: auto 12%;
        grid-gap: 20px;
    }
    .funny-videos-container .card img, .card{
        width: 32vw;
    }
    .play-instantly-image img{
        width: 40vw;
    }
    .play-instantly-text{
        width: 50vw;
    }
    .game-types{
        margin: 100px auto;
    }
    .game-item{
        gap: 5px;
    }
}